*.pyc

__pycache__
_build

.cache/
.coverage
.eggs/
.idea/
.pytest_cache/
.tox/
.venv*/
.vscode/

build/
htmlcov
sphinxcontrib/matlab/_version.py
sphinxcontrib_matlabdomain.egg-info/
tests/test_docs/_build/
